.flexcolumn {
  display: flex;
  flex-direction: column;
}

.wrapper {
  composes: flexcolumn;
  align-items: center;
  margin-top: 4em;
  margin-bottom: 1em;
}

.infoDiv {
  composes: flexcolumn;
  font-size: 1em;
  flex-wrap: wrap;
  margin-top: 0.5em;
  background-color: lightgray;
  border-radius: 0.75em;
  margin: 0.5em 1.5em 0 1.5em;
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

.button {
  border-radius: 18px;
  background-color: #fafafa;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.25em;
  width: 2em;
  height: 2em;
  margin: 0.5em 0.5em 0 0;
  border-width: 0px;
  font-weight: bold;
}

.font12px {
  font-size: 1em;
}

.titleFont {
  font-weight: bold;
  font-size: 1em;
  margin: 0.5em 1em 0.5em 1.25em;
}

.titleAndCloseButton {
  display: flex;
  justify-content: space-between;
}

.infoText {
  align-self: center;
  composes: flexcolumn;
  flex-wrap: wrap;
  margin: 0 1em 0.5em 1em;
}

.inputs {
  margin-top: 1.25em;
  margin-bottom: 1em;
}

.marginBottom8px {
  margin-bottom: 0.5em;
}

.inputsExtraMarginTop {
  composes: inputs;
  margin-top: 2em;
}

input[type=submit] {
  border-radius: 6px;
  margin-left: 0.5em;
}

.smallerNumberInput {
  width: 4em;
}
