/* overlay styles, all needed */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

body {
  position: relative;
}

img {
  width: 135px;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5em;
}

.modal {
    width: 50%;
    height: 47%;
    position: fixed;
    top: 15%;
    left: 25%;
    background-color: #f1c40f;
    border-radius: 5px;
    z-index: 11; /* 1px higher than the overlay layer */
    overflow: auto;
}

.infoText {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.asterix {
  margin-bottom: 1em;
}

.buttonAndCheckbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.okButton {
  border-radius: 5px;
  text-transform: uppercase;
}

.checkboxAndLabel {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5em;
}

input[type=checkbox] {
  margin: 0 4px 0 0;
  height: 15px;
  width: 17px;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

.imagesDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
