.flexcontainer {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  align-items: center;
  /*margin-bottom: 0;*/
}

.marginbottom {
  margin-bottom: 1em;
}

.inputFieldTopMargin {
  margin-top: 0.5em;
}

.noMargin {
  margin: 0;
}
