.mapBorderAndMargin {
  border: '1px solid black';
  margin-bottom: 8px;
}

.mapStyle {
  width: 700px;
  height: 302px;
  composes: mapBorderAndMargin;
}

.leftSide {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 16px;
}

.searchbox {
  margin-top: 10px;
  font-family: lato;
  font-size: 14px;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.button {
  composes: button from "../css/button.css";
  width: 25%;
  align-self: center;
}

.btnActive {
  composes: button;
}

.btnDisabled {
  composes: button;
  opacity: 0.4;
}

.slightlylargerfont {
  font-size: 16px;
  margin-bottom: 8px;
}

.marginRight8px {
  margin-right: 8px;
}

.largerfont {
  font-size: 20px;
  margin-top: 3px;
}

@media only screen and (max-width: 1160px){
  .mapStyle {
    width: 600px;
    height: 302px;
    composes: mapBorderAndMargin;
  }

  .button {
    width: 50%;
    align-self: center;
  }
}

@media only screen and (max-width: 1042px){
  .mapStyle {
    width: 500px;
    height: 302px;
    composes: mapBorderAndMargin;
  }

  .button {
    width: 50%;
    align-self: center;
  }
}

@media only screen and (max-width: 925px){
  .mapStyle {
    width: 400px;
    height: 302px;
    composes: mapBorderAndMargin;
  }

  .button {
    width: 50%;
    align-self: center;
  }
}

@media only screen and (max-width: 817px){
  .mapStyle {
    width: 600px;
    height: 302px;
    composes: mapBorderAndMargin;
  }

  .leftSide {
    align-items: center;
  }

  .button {
    width: 50%;
    align-self: center;
  }
}

@media only screen and (max-width: 817px){
  .mapStyle {
    width: 600px;
    height: 302px;
    composes: mapBorderAndMargin;
  }

  .leftSide {
    align-items: center;
  }

  .button {
    width: 70%;
    align-self: center;
  }
}

@media only screen and (max-width: 752px){
  .mapStyle {
    width: 450px;
    height: 302px;
    composes: mapBorderAndMargin;
  }

  .leftSide {
    align-items: center;
  }

  .button {
    width: 70%;
    align-self: center;
  }
}

@media only screen and (max-width: 560px){
  .mapStyle {
    width: 370px;
    height: 302px;
    composes: mapBorderAndMargin;
  }

  .leftSide {
    align-items: center;
  }

  .button {
    width: 70%;
    align-self: center;
  }
}

@media only screen and (max-width: 490px){
  .mapStyle {
    width: 270px;
    height: 302px;
    composes: mapBorderAndMargin;
  }

  .leftSide {
    align-items: center;
  }

  .button {
    width: 70%;
    align-self: center;
  }
}

@media only screen and (max-width: 355px){
  .mapStyle {
    width: 230px;
    height: 250px;
    composes: mapBorderAndMargin;
  }

  .leftSide {
    align-items: center;
  }

  .button {
    width: 70%;
    align-self: center;
  }
}
