
.flexcolumn {
  display: flex;
  flex-direction: column;
}

.infoAndFormAndMap {
  composes: flexcolumn;
  flex-wrap: wrap;
  margin-top: 4em;
  margin-bottom: 1em;
  background-color: #ffb732;
  border-radius: 0.5em;
}

.formandmapDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-self: center;
  justify-content: center;
}

.margin {
  margin: 0 auto;
}

.infoDiv {
  composes: flexcolumn;
  font-size: 1em;
  flex-wrap: wrap;
  margin-top: 0.5em;
  background-color: darkorange;
  margin: 0.5em 1.5em 0 1.5em;
  border-radius: 0.75em;
  opacity: 1;
  -webkit-transition: opacity 1000ms linear;
  transition: opacity 1000ms linear;
}

.button {
  border-radius: 18px;
  background-color: #fafafa;
  text-transform: uppercase;
  font-size: 1em;
  padding: 0.25em;
  width: 2em;
  height: 2em;
  margin: 0.5em 0.5em 0 0;
  border-width: 0px;
  font-weight: bold;
}

.titleFont {
  font-weight: bold;
  font-size: 1em;
  margin: 0.5em 1em 0.5em 1.25em;
}

.titleAndCloseButton {
  display: flex;
  justify-content: space-between;
}

.infoText {
  align-self: center;
  margin-right: 0.5em;
  margin-bottom: 0.25em;
}

.leftPadding20px {
  padding-left: 1.25em;
  margin-bottom: 0;
}

.centerFlexItem {
  align-self: center;
  margin-bottom: 1em;
}

@media only screen and (max-width: 650px) {
  .button {
    width: 2.5em;
  }
}
